<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Expense_Mananger</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AzeretMono-Black.ttf</string>
		<string>AzeretMono-BlackItalic.ttf</string>
		<string>AzeretMono-Bold.ttf</string>
		<string>AzeretMono-BoldItalic.ttf</string>
		<string>AzeretMono-ExtraBold.ttf</string>
		<string>AzeretMono-ExtraBoldItalic.ttf</string>
		<string>AzeretMono-ExtraLight.ttf</string>
		<string>AzeretMono-ExtraLightItalic.ttf</string>
		<string>AzeretMono-Italic.ttf</string>
		<string>AzeretMono-Light.ttf</string>
		<string>AzeretMono-LightItalic.ttf</string>
		<string>AzeretMono-Medium.ttf</string>
		<string>AzeretMono-MediumItalic.ttf</string>
		<string>AzeretMono-Regular.ttf</string>
		<string>AzeretMono-SemiBold.ttf</string>
		<string>AzeretMono-SemiBoldItalic.ttf</string>
		<string>AzeretMono-Thin.ttf</string>
		<string>AzeretMono-ThinItalic.ttf</string>
		<string>FiraMono-Bold.ttf</string>
		<string>FiraMono-Medium.ttf</string>
		<string>FiraMono-Regular.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-BoldItalic.ttf</string>
		<string>JetBrainsMono-ExtraBold.ttf</string>
		<string>JetBrainsMono-ExtraBoldItalic.ttf</string>
		<string>JetBrainsMono-ExtraLight.ttf</string>
		<string>JetBrainsMono-ExtraLightItalic.ttf</string>
		<string>JetBrainsMono-Italic.ttf</string>
		<string>JetBrainsMono-Light.ttf</string>
		<string>JetBrainsMono-LightItalic.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-MediumItalic.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
		<string>JetBrainsMono-SemiBoldItalic.ttf</string>
		<string>JetBrainsMono-Thin.ttf</string>
		<string>JetBrainsMono-ThinItalic.ttf</string>
		<string>Karla-Bold.ttf</string>
		<string>Karla-BoldItalic.ttf</string>
		<string>Karla-ExtraBold.ttf</string>
		<string>Karla-ExtraBoldItalic.ttf</string>
		<string>Karla-ExtraLight.ttf</string>
		<string>Karla-ExtraLightItalic.ttf</string>
		<string>Karla-Italic.ttf</string>
		<string>Karla-Light.ttf</string>
		<string>Karla-LightItalic.ttf</string>
		<string>Karla-Medium.ttf</string>
		<string>Karla-MediumItalic.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>Karla-SemiBold.ttf</string>
		<string>Karla-SemiBoldItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>NotoSansMono_Condensed-Black.ttf</string>
		<string>NotoSansMono_Condensed-Bold.ttf</string>
		<string>NotoSansMono_Condensed-ExtraBold.ttf</string>
		<string>NotoSansMono_Condensed-ExtraLight.ttf</string>
		<string>NotoSansMono_Condensed-Light.ttf</string>
		<string>NotoSansMono_Condensed-Medium.ttf</string>
		<string>NotoSansMono_Condensed-Regular.ttf</string>
		<string>NotoSansMono_Condensed-SemiBold.ttf</string>
		<string>NotoSansMono_Condensed-Thin.ttf</string>
		<string>NotoSansMono_ExtraCondensed-Black.ttf</string>
		<string>NotoSansMono_ExtraCondensed-Bold.ttf</string>
		<string>NotoSansMono_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSansMono_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSansMono_ExtraCondensed-Light.ttf</string>
		<string>NotoSansMono_ExtraCondensed-Medium.ttf</string>
		<string>NotoSansMono_ExtraCondensed-Regular.ttf</string>
		<string>NotoSansMono_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSansMono_ExtraCondensed-Thin.ttf</string>
		<string>NotoSansMono_SemiCondensed-Black.ttf</string>
		<string>NotoSansMono_SemiCondensed-Bold.ttf</string>
		<string>NotoSansMono_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSansMono_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSansMono_SemiCondensed-Light.ttf</string>
		<string>NotoSansMono_SemiCondensed-Medium.ttf</string>
		<string>NotoSansMono_SemiCondensed-Regular.ttf</string>
		<string>NotoSansMono_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSansMono_SemiCondensed-Thin.ttf</string>
		<string>NotoSansMono-Black.ttf</string>
		<string>NotoSansMono-Bold.ttf</string>
		<string>NotoSansMono-ExtraBold.ttf</string>
		<string>NotoSansMono-ExtraLight.ttf</string>
		<string>NotoSansMono-Light.ttf</string>
		<string>NotoSansMono-Medium.ttf</string>
		<string>NotoSansMono-Regular.ttf</string>
		<string>NotoSansMono-SemiBold.ttf</string>
		<string>NotoSansMono-Thin.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>ReadexPro-Bold.ttf</string>
		<string>ReadexPro-ExtraLight.ttf</string>
		<string>ReadexPro-Light.ttf</string>
		<string>ReadexPro-Medium.ttf</string>
		<string>ReadexPro-Regular.ttf</string>
		<string>ReadexPro-SemiBold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
